@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--span);
}

:root {
  --nav-base: #ff00f200;
  --nav-pill: #ffffff;
  --nav-hambur: #000000;
  --nav-text: #000000;
  --background: #ffffff;
  --border: #a7acb7;
  --seprator: #7f59d73c;
  --hover-btn: #9ac3fb;
  --separator: #00000039;
  --badge-dark: #45474bc6;
  --badge-text: #ddc3ff;
  --button-gradient: linear-gradient(135deg, #571bc1, #004395);
  --back-card: #ffffffaa;

  --color1: #bfbdbd;
  --color2: #9ac3fb;
  --color3: #7f46ca;
  /* Text */
  --text: #1a1c20;
  --span: #630ed4;

  --on-surface-variant: #4a4455;

  /* Brand */
  --primary: #6f2aca;
  --secondary-container: #39b8fd;

  /* Aurora gradient */
  --aurora-purple: #5929e7;
  --aurora-blue: #0062ff;
  --aurora-white: #829bc4;

  /* Glass */
  --glass-bg: #c79cff68;
  --card: rgba(255, 255, 255, 0.386);
  --glass-border: rgba(0, 0, 0, 0.05);

  /* Shadow / Glow */
  --primary-glow: rgba(99, 14, 212, 0.2);
  --primary-glow-strong: rgba(99, 14, 212, 0.3);

  /* Border */
  --border-light: rgba(0, 0, 0, 0.05);
  --border-medium: rgba(0, 0, 0, 0.1);
}

.dark {
  --nav-hambur: #ffffff;

  --hover-btn: var(--aurora-purple);
  --separator: #ffffff21;

  --nav-pill: #120f17;
  --nav-text: #ffffff;
  --background: #000000;

  --back-card: #000000c4;
  --card: #2b2b2b83;

  /* Text */
  --text: #d4e4fa;
  --span: #adc6ff;
  --border: #a7acb796;
  --hero-description: #c6c6cb;

  --color3: #1c2b3c;
  --color1: #1c2b3c;
  --color2: #212122;

  /* Brand */
  --primary: #8b5cf6;
  --secondary-container: #3b82f6;

  /* Aurora gradient */
  --aurora-purple: #8b5cf6;
  --aurora-blue: #3b82f6;

  /* Glass */
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.12);

  /* Shadow / Glow */
  --primary-glow: rgba(139, 92, 246, 0.35);
  --primary-glow-strong: rgba(139, 92, 246, 0.6);

  /* Border */
  --border-light: rgba(255, 255, 255, 0.12);
  --border-medium: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --color-hambur: var(--nav-hambur);
  --color-span: var(--span);
  --color-hover: var(--hover-btn);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-separator: var(--separator);
  --color-secondary-container: var(--secondary-container);
  --color-badge-dark: var(--badge-dark);

  --color-back-card: var(--back-card);
  --color-card-bg: var(--card);

  --color-badge-text: var(--badge-text);

  --color-aurora-purple: var(--aurora-purple);
  --color-aurora-blue: var(--aurora-blue);

  --color-hero-background: var(--background);

  --color-glass-bg: var(--glass-bg);
  --color-glass-border: var(--glass-border);
  --color-seprator: var(--seprator);

  --color-on-surface: var(--on-surface);
  --color-hero-description: var(--hero-description);
  --background-image-button-gradient: var(--button-gradient);
}

@layer base {
  button {
    cursor: pointer;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

.float-animation {
  animation: float 5s ease-in-out infinite;
}
